
.home-container{
  text-align: center;
}

.about-container {
  height: 100vh;
}

.project-title {
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  height: 10vh;
  border-bottom: 5px solid grey;
  margin-bottom: 10vh;

}

.home-title {
  margin-top: 2vh;
  text-align: left;
  margin-left: 2vw;
  margin-right: 2vw;
}

.home-subtitle {
  text-align: left;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 10vh;
  padding-bottom: 2vh;
  border-bottom: 5px solid grey;
}

.home-headline {
  margin-top: 10vh;
  width: 300px;
  text-align: left;
}

.info-container {
  width: 20vw;
  /* margin-left: 2vw; */
  text-align: left;
}

.home-text {
  width: 300px;
}

.profile-img{
  width: 350px;
  border-radius: 50%;
}

.proj-img {
  height: 25vh;
}
.text{
  height: 5vh;
}

.title {
  height: 5vh;
}

.link {
  margin: 5px;
}


.tech-container {
  margin-top: 20px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-title {
  /* border: 1px solid black; */
  margin-top: 5px;
}

.sub-container {
  display: flex;
  margin-top: 20px;
  gap: 200px;
  /* border: 1px solid black; */
}

.front-end, .back-end, .version {
  /* border: 1px solid black; */
  text-align: center;
  width: 200px;
}

.list-item {
  padding-left: 0;
  list-style-type: none;
}

