
.home-container{
  text-align: center;
  height: 100vh;
}

.about-container {
  height: 100vh;
}

.projects-container {
  height: 120vh;
}

.profile-img{
  width: 300px;
  border-radius: 50%;
}

.proj-img {
  height: 25vh;
}
.text{
  height: 10vh;
}

.title {
  height: 5vh;
}

.link {
  margin: 5px;
}


